.clock {
  text-align: center;
  font-size: 72px;
  line-height: 2;
  letter-spacing: 0.6em;
}

p {
  font-family: sans-serif;
}

.btn {
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

#buttonSection {
  width: 100%;
  text-align: center;
}

#container{
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
